#nav{
  font-family: 'Montserrat', sans-serif;
  width: 150px;
  height: 600px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 10px;
  float: left;
  position: fixed;
}

#sminc{
  margin-top: 20px;
  width: 150px;
}

#sm{
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  width: 35px;
  border: 3px solid black;
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 15px;
  background-color: yellow;
  letter-spacing: 3px;
  animation: colorchange 5s infinite;
  float: left;
  color: black;
}

#inc{
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  padding-top: 13px;
  padding-left: 5px;
  color: black;
}

#secs{
  width: 100px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 5px;
}

#about{
  width: 70px;
  margin-top: 50px;
  padding:10px;
  border: 2px solid black;
}

#photos{
  width: 70px;
  margin-top: 30px;
  padding: 10px;
  border: 2px solid black;
}

#videos{
  width: 70px;
  margin-top: 30px;
  padding: 10px;
  border: 2px solid black;
}

#web{
  width: 70px;
  margin-top: 30px;
  padding: 10px;
  border: 2px solid black;
}

#essays{
  width: 70px;
  margin-top: 30px;
  padding: 10px;
  border: 2px solid black;
}

#misc{
  width: 70px;
  margin-top: 30px;
  padding: 10px;
  border: 2px solid black;
}


a{
  text-decoration: none;
  color: black;
}

@keyframes colorchange{
  0% {background-color: yellow;}
  25% {background-color: #c800ff;}
  50% {background-color: #006fff;}
  75% {background-color: #ff6600;}
  100%{background-color: yellow;}
}

#about:hover{
  background-color: yellow;
  box-shadow: 3px 3px grey;
}

#photos:hover{
  background-color: yellow;
  box-shadow: 3px 3px grey;
}

#videos:hover{
  background-color: yellow;
  box-shadow: 3px 3px grey;
}

#web:hover{
  background-color: yellow;
  box-shadow: 3px 3px grey;
}

#essays:hover{
  background-color: yellow;
  box-shadow: 3px 3px grey;
}

#misc:hover{
  background-color: yellow;
  box-shadow: 3px 3px grey;
}

#wrap{
  width: 1100px;
  margin-left: 20%;
  border-top: 2px solid black;
  padding-top: 30px;
  margin-top: 50px;
}

#vid1{
  width: 600px;
  margin-top: 30px;
  float: left;
}

#title{
  width: 200px;
  margin-top: 30px;
  float: left;
  border: 2px solid black;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
}

#text{
  font-family: "Montserrat", sans-serif;
  width: 350px;
  border-top: 2px solid black;
  padding: 10px;
  float: left;
  margin-top: 30px;
}

#wrap2{
  width: 1100px;
  margin-top: 490px;
  margin-left: 20%;
}

#vid2{
  width: 600px;
  margin-top: 70px;
  margin-left: 5px;
  float: left;
}

#title2{
  width: 200px;
  margin-top: 70px;
  padding: 10px;
  border: 2px solid black;
  font-family: "Montserrat", sans-serif;
  float: left;
}

#text2{
  width: 350px;
  border-top: 2px solid black;
  padding: 10px;
  margin-top: 30px;
  float: left;
  font-family: "Montserrat", sans-serif;
}

#wrap3{
  width: 1100px;
  margin-left: 20%;
  margin-top: 1020px;
  margin-bottom: 50px;

}

#vid3{
  width: 600px;
  float: left;
  margin-top: 30px;
  margin-left: 10px;
}

#title3{
  width: 200px;
  border: 2px solid black;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  float: left;
  margin-top: 70px;
}

#text3{
  width: 350px;
  padding: 10px;
  border-top: 2px solid black;
  font-family: "Montserrat", sans-serif;
  float: left;
  margin-top: 30px;
}

#wrap4{
  width: 1100px;
  margin-top: 1570px;
  margin-left: 20%;
}

#bottom{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  margin-left: 400px;
  margin-bottom: 10px;
  color: grey;
}
